{{> header}}

<div class="container mt-5">
    <header class="jumbotron">
        <h1>Site Title here</h1>
        <p>Tag line here</p>
        <a  class="btn btn-primary" href="/reviews/new">Add a review &raquo;</a>
    </header>

    <div class="row">
        {{#each reviews}}
        <div class="col-md-3 col-md-6">
            <div class="img-thumbnail">
                <img src="{{this.image}} " alt="" style="object-fit: contain; width:100%"> 
            </div>
            <div class="caption pt-2">
                <p class="lead">{{this.title}} <a href="/reviews/{{this._id}}" class="btn btn-link pt-0">Read More &raquo;</a></p>
            </div>
            <p></p>
        </div>
        {{/each}}
    </div>
</div>

{{> footer}}